<!DOCTYPE html>

<html>
  <head>
    <title>Sign Up</title>
  </head>
  <body>
    <h1>Sign Up</h1>
    <form method="post">
      <label for="">
        <div>Username</div>
        <input type="text" name="username" value=>
        <span>{{usernameError}}</span>
      </label>
      <label for="">
        <div>Password</div>
        <input type="password" name="password">
      </label>
      <label for="">
        <div>Verify Password</div>
        <input type="password" name="verify">
        <span>{{matchError}}</span>
      </label>
      <label for="">
        <div>Email(optional)</div>
        <input type="text" name="email">
        <span>{{emailError}}</span>
      </label>
      <input type="submit">
    </form>
  </body>
</html>
